<div class="sub-component">
  <div>
    <h3>You may view the User Details here</h3>
    <p>Many Details</p>
    <p>User Name: {{ name ? "From params via Props: "+name : "Straight from params: "+dataName }}</p>
    <p v-if="$route.query">
      Locale: {{ $route.query.locale }}
    </p>
    <p v-if="$route.query">
      Analytics: {{ $route.query.q }}
    </p>
    <button @click="resetName">Reset Name</button>
    <button @click="navigateToTestComponent">Go to Test Component</button>
  </div>
  <hr>
  <div>
    <button @click="incrementStoreCounter">Increment Store Counter</button>
    <button @click="decrementStoreCounter">Decrement Store Counter</button>
    <div>Store Counter: {{storeCounter}}</div>
    <div>Double Store Counter: {{doubleStoreCounter}}</div>
  </div>
  <hr>
  <div>
    <button @click="incrementOtherCounter">Increment Other Counter</button>
    <button @click="decrementOtherCounter">Decrement Other Counter</button>
    <div>Other Counter: {{otherCounter}}</div>
  </div>
</div>
